.col-3
  .profile__box.bg-white.shadow-sm
    = image_tag "T1MLERC4C-UR31TJGLT-bffc2f115b74-512.jpg", class: "profile__box_image"
    .col-12.text-center.mt-2.mb-4
      サイト運営者 小島徹也
    .profile__box_content.text-wrap.text-break
      28歳で消防官を退職し全くの異業種であるエンジニアへ
      %br 物づくりの楽しさに目覚め転職を決意
      %br (このサイトも0から自分で全て作っています。)
      %br 役立つ情報を発信していきます。
      %br 趣味は読書と英会話
      %br 好きな言葉はgive&give
      %br サイトのご意見ご感想も気軽に受け付けております。
      .pb-3
        = link_to "サイト運営者についてもっと詳しく", about_me_index_path