.container
  .row
    .col-12
      = link_to "記事を編集する", edit_article_path
    .col-12.d-flex.my-5
      .article__content.col-9.bg-white.shadow-sm
        .h2.my-5
          = @article.title
        .col-12.mt-5.text-wrap.text-break
          = markdown(@article.content).html_safe
      .col-3