.article__title > a {
  color: darkslategray;
  text-decoration: none;
  font-weight: bold;
  font-size: 26px;
  font-family: 'Courier New', Courier, monospace;
}

.article__title:hover {
  opacity: 0.3;
}

.article__content {
  font-size: 16px;
}

.article__image {
  height: 250;
  width: 250px;
  object-fit: cover;
}

.profile__box {
  &_image {
    display: block;
    height: 250px;
    width: 250px;
    padding: 30px;
    margin: 0px auto;
    border-radius: 50%;
  }
  &_content {
    padding: 0 20px;
  }
}

.article__top_image {
  height: 400px;
  width: 100%;
}

.show__content {
  color: darkslategray;
}

.enter {
  border: 10px dotted powderblue;
}