@keyframes fadeIn {
  0% {
    opacity: 0
  }
  100% {
    opacity: 1
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0
  }
  100% {
    opacity: 1
  }
}

.main__title {
  background-image: url(/assets/apple-691282_1920.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: white;
  font-size: 100px;
  animation: fadeIn 4s ease 0s 1 normal;
  -webkit-animation: fadeIn 4s ease 0s 1 normal;
}

.menu {
  text-decoration: none !important;
  color: black;
  height: 60px;
  line-height: 60px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, .12), 0 2px 3px 0 rgba(0, 0, 0, .22);
  transition: .3s;
}

.menu:hover {
  opacity: 0.7;
  background-color: #13b1c0;
  height: 60px;
  line-height: 60px;
  color: black;
  box-shadow: 0 15px 30px -5px rgba(0, 0, 0, .15), 0 0 5px rgba(0, 0, 0, .1);
  transform: translateY(-4px);
}

.profile__image {
  height: 300px;
  width: 300px;
  border-radius: 5px;
}

.sns > a {
  color: #13b1c0;
}

.sns > a:hover {
  opacity: 0.7;
}

.fa-twitter-square {
  font-size: 50px;
}

.fa-facebook-square {
  font-size: 50px;
}

.fa-github-square {
  font-size: 50px;
}

.portfolio__link {
  text-decoration: none !important;
}

.fa-star {
  color: #fdca00;
}

.fa-star-half {
  color: #fdca00;
}

.move_to_top_icon {
  position: fixed;
  color: #13b1c0;
  font-size: 70px;
  right: 100px;
  bottom: 100px;
}

.move_to_top_icon:hover {
  cursor: pointer;
  opacity: 0.5;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity .5s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.scroll_animation {
  opacity: 0;
  transition: all .5s ease;
}

.scroll_animation.show {
  opacity: 1;
  transform: none;
}

.scroll_up {
  transform: translate(0, 100px);
}